.chart-wrapper {
  width: 300px;
  margin-top: 10px;
}


::ng-deep canvas.chartjs-render-monitor {
  margin-left: -60px;
  margin-top: -130px;
  margin-bottom: 20px;
}

::ng-deep .traitement[_ngcontent-yrv-c17] {
  height: 50px;
}
