<div class="page-title content-margin">
  <div class="name">Interventions</div>
</div>

<div id="datagrid-wrapper" style="margin:20px 40px">
  <app-datagrid [dataSource]="dataSourceTable" [columnInfo]="columnsInfos" [action]="datagridAction"
                style="margin-right: 40px; width: calc(100% - 32px)"
                (pageChanged)="pagination = $event" (filterChanged)="filter = $event" (sortChanged)="sort = $event"
                dataGridId="intervention" [canExportAndImportFilter]="true" [globalAction]="datagridGlobalAction">
  </app-datagrid>
</div>

<app-side-panel-new #sidePanel [content]="sidePanelContent" [canNavigate]="true"
                    [dataSource]="dataSourceSidePanel" [filter]="filter" [page]="pagination" [sort]="sort"
                    (setContent)="loadSidePanelData($event)"></app-side-panel-new>


