@import "variables";

.custom-list {
  margin-left: 15px;
}

.custom-list-item {
  margin-top: 18px;
}

.custom-form-field {
  width: 94% !important;
  margin-left: 2%;
}

.color-primary {
  color: $primary;
}

.reduced-width {
  width: 75% !important;
}
