@import "../../../variables.scss";

.item-table-wrapper {
  width: 100%;
}

.example-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  font-family: $secondary-font;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.checkbox{
  ::ng-deep .mat-checkbox-background {
    background-color: white !important;
    border: 1px solid #22a8c2;
    border-radius: 5px;
  }
  ::ng-deep .mat-checkbox-checkmark-path {
    stroke: #22a8c2 !important;
  }
  ::ng-deep .mat-checkbox-mixedmark {
    background-color: #22a8c2;
  }
  ::ng-deep .mat-checkbox-inner-container {
    background-color: white !important;
  }
}

.checkbox-favorite {
  ::ng-deep .mat-checkbox-inner-container {
    display: none;
  }
  ::ng-deep .mat-checkbox-layout {
    height: 22px;
  }
}

th.mat-header-cell:last-of-type {
  padding-right: 0;
}

tr.mat-row:last-of-type {
  border: none;
}

.sort-header {
  ::ng-deep .mat-sort-header-button {
    width: 90%;
  }
  ::ng-deep .mat-sort-header-arrow {
    left: -20px;
  }
}

/deep/.mat-menu-content {
  background-color: #BBBCBD !important;
  margin: 0 !important;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
  border-radius: 0;
}

.aligned-with-icon {
  position: relative;
  top: -5px;
  margin-left: 5px; /* optional */
}
