<div class="page-title content-margin">
  <div class="breadcrumb" *ngIf="isLoading">Chargement...</div>
  <div class="breadcrumb" *ngIf="!isLoading">
    <span style="margin-right: 10px"><a class="link" [routerLink]="['/comptes']">Liste des comptes</a></span>&nbsp;/&nbsp;&nbsp;
    <span style="font-weight: bold;margin-right: 5px">Compte {{accountName}}</span>
    <button style="border-style: none;cursor: pointer" class="copyButton" (click)="copyMessage(accountName)"></button>
  </div>
</div>

<div style="display: flex;" id="window">
  <div style="margin-left: 2%; display: flex; width: 100%;">
    <mat-tab-group animationDuration="0ms" disableRipple="true" class="account-tab-group" style="width: 100%;">
      <!-- Compte -->
      <mat-tab label="Compte">
        <div *ngIf="isLoading">
          <mat-expansion-panel style="margin-bottom: 15px; border-radius: 0 0 5px 5px; pointer-events: none; box-shadow: none;" [expanded]="false" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title style="width: 100%; margin: auto; display: flex; min-height: 60px;">
                <mat-spinner [diameter]="30" style="margin: auto"></mat-spinner>
              </mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
        </div>
        <div *ngIf="!isLoading">
          <mat-expansion-panel style="margin-bottom: 15px; border-radius: 0 0 5px 5px; box-shadow: none;" [expanded]="true" hideToggle>
            <mat-expansion-panel-header style="pointer-events: none;">
              <mat-panel-title style="width: 100%; margin: auto; display: flex; min-height: 60px;">
                <mat-icon style="margin-right: 5px; margin-top: auto; margin-bottom: auto;">account_balance</mat-icon><span style="margin: auto 0 auto 0;">{{account.entity.name}}&nbsp;:</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div style="margin: 15px 45px;">
              <app-entity-form [data]="{disabled: disabled, defaultData: account.entity}"
                               (entitySaved)="updateEntity($event)"></app-entity-form>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel style="margin-bottom: 15px; border-radius: 5px; box-shadow: none;">
            <mat-expansion-panel-header>
              <mat-panel-title style="width: 100%; margin: auto; display: flex; min-height: 60px;">
                <mat-icon style="margin-right: 5px; margin-top: auto; margin-bottom: auto;">info_outline</mat-icon><span style="margin: auto 0 auto 0;">Informations du compte :</span><span style="color: #8d9093; margin: auto;">{{account.category + ' - ' + account.type}}</span><span style="visibility: hidden; margin-right: 5px;">Informations du compte :</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div style="margin: 15px 45px;">
              <app-account-form [data]="{mode: 'edit', disabled: disabled, defaultData: {account: account}}"
                                (accountSaved)="updateAccount($event)"></app-account-form>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel style="margin-bottom: 15px; border-radius: 5px; box-shadow: none;">
            <mat-expansion-panel-header>
              <mat-panel-title style="width: 100%; margin: auto; display: flex; min-height: 60px;">
                <mat-icon style="margin-right: 5px; margin-top: auto; margin-bottom: auto;">person</mat-icon><span style="margin: auto 0 auto 0;">{{getPeopleName(account.contact)}}</span><span style="color: #8d9093; margin: auto;">{{account.contact.mobilePhone}}</span><span style="visibility: hidden;">{{getPeopleName(account.contact)}}</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div style="margin: 15px 45px;">
              <app-contact-form [data]="{mode: 'edit', disabled: disabled, defaultData: {people: account.contact}}"
                                (contactSaved)="updateContact($event)"></app-contact-form>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel style="margin-bottom: 15px; border-radius: 5px; box-shadow: none;">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div style="width: 100%; margin: auto; display: flex; min-height: 60px;" *ngIf="!!account.entity.mainAddress">
                  <mat-icon style="margin-right: 5px; margin-top: auto; margin-bottom: auto;">location_on</mat-icon><span style="margin: auto 0 auto 0;">{{getAddressName(account.entity.mainAddress)}}</span><span style="color: #8d9093; margin: auto;">{{account.entity.mainAddress.type}}</span><span style="visibility: hidden; margin-right: 5px;">{{getAddressName(account.entity.mainAddress)}}</span>
                </div>
                <div style="width: 100%; margin: auto; display: flex; min-height: 60px; padding-left: 36px;" *ngIf="!account.entity.mainAddress">
                  <mat-icon style="margin: auto 5px auto auto;">add</mat-icon><span style="margin: auto auto auto 0;">Ajouter une adresse</span>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div style="margin: 15px 45px;">
              <app-address-form [data]="{mode: !account.entity.mainAddress ? 'create' : 'edit', disabled: disabled, defaultData: {address: account.entity.mainAddress}, types: addressTypes}"
                                (addressSaved)="!account.entity.mainAddress ? addAddress($event) : updateAddress($event)"></app-address-form>
            </div>
          </mat-expansion-panel>
        </div>
      </mat-tab>

      <!-- Établissements -->
      <mat-tab label="Établissements" [disabled]="isLoading">
        <mat-card class="form-card mat-elevation-z0" style="width: 63vw; border-radius: 0 0 5px 5px;" *ngIf="!isLoading">
          <mat-card-content style="padding: 10px 10px 40px 10px">
            <app-account-establishments [account]="account" [update]="updateEstablishmentTab" [disabled]="disabled"></app-account-establishments>
          </mat-card-content>
        </mat-card>
      </mat-tab>

      <!-- Commandes (margin-left on css) -->
      <mat-tab [disabled]="isLoading">
        <ng-template mat-tab-label><mat-icon>assignment_turn_in_outline</mat-icon><span style="padding-left: 5px;">Commandes</span></ng-template>
        <mat-card class="form-card mat-elevation-z0" style="width: 63vw; border-radius: 0 0 5px 5px;" *ngIf="!isLoading">
          <mat-card-content style="padding: 10px 10px 40px 10px">
            <app-account-orders [account]="account" [disabled]="disabled"></app-account-orders>
          </mat-card-content>
        </mat-card>
      </mat-tab>

      <!-- Biens -->
      <mat-tab [disabled]="isLoading">
        <ng-template mat-tab-label><mat-icon>house</mat-icon><span style="padding-left: 5px;">Biens</span></ng-template>
        <mat-card class="form-card mat-elevation-z0" style="width: 63vw; border-radius: 0 0 5px 5px;" *ngIf="!isLoading">
          <mat-card-content style="padding: 10px 10px 40px 10px">
            <app-account-estates [account]="account" [disabled]="disabled"></app-account-estates>
          </mat-card-content>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div style="margin-left: 2%; margin-right: 2%; width: auto; display: flex; min-width: 275px;">
    <mat-tab-group animationDuration="0ms" disableRipple="true" style="width: 100%;">
      <mat-tab label="Récapitulatif">
        <ng-template matTabContent>
          <mat-card style="padding: 0 0 10px; box-shadow: none; border-radius: 0 0 5px 5px;">
            <div *ngIf="isLoading"><mat-spinner [diameter]="30" style="margin: auto;"></mat-spinner></div>
            <div *ngIf="!isLoading">
              <mat-list>
                <mat-list-item>
                  <mat-icon style="vertical-align: middle;" [ngClass]="getStatusColor(account.state)">fiber_manual_record</mat-icon>&nbsp;<span class="grey right-column-text" style="font-weight: bold">{{getStatusName(account.state)}}</span>
                </mat-list-item>
                <div *ngIf="state.length > 0">
                  <mat-divider></mat-divider>
                  <mat-list-item *ngFor="let s of state"><span class="red right-column-text"><mat-icon style="font-size: 10px;width: 16px;vertical-align: -1px;height: auto" class="red">block</mat-icon>{{s}}</span></mat-list-item>
                </div>
                <mat-divider></mat-divider>
                <mat-list-item>
                  <mat-icon class="grey">account_balance</mat-icon>&nbsp;&nbsp;<span class="grey right-column-text">{{getName(account)}}</span>
                </mat-list-item>
                <mat-list-item>
                  <mat-icon class="grey">pie_chart</mat-icon>&nbsp;&nbsp;<span class="grey right-column-text">{{account.category}}</span>
                </mat-list-item>
                <mat-list-item>
                  <mat-icon class="grey">bubble_chart</mat-icon>&nbsp;&nbsp;<span class="grey right-column-text">{{account.type}}</span>
                </mat-list-item>
                <mat-list-item *ngIf="mainAddress">
                  <mat-icon class="grey" *ngIf="mainAddress.postCode && mainAddress.city">location_on</mat-icon>
                  <mat-icon class="grey" *ngIf="(mainAddress.gpsCoordinates || mainAddress.inseeCoordinates)">gps_fixed</mat-icon>
                  &nbsp;&nbsp;<span class="grey right-column-text">{{getAddressName(mainAddress)}}</span>
                </mat-list-item>
                <mat-list-item *ngIf="!mainAddress">
                  <mat-icon class="grey">location_off</mat-icon>&nbsp;&nbsp;<span class="grey right-column-text">Aucune adresse</span>
                </mat-list-item>
                <mat-list-item>
                  <mat-icon class="grey">person</mat-icon>&nbsp;&nbsp;<span class="grey right-column-text">{{account.commercial ? account.commercial.first_name + ' ' + account.commercial.last_name : ''}}</span>
                </mat-list-item>
              </mat-list>
            </div>
          </mat-card>
        </ng-template>
      </mat-tab>
      <mat-tab label="Evènements">
        <ng-template matTabContent>
          <app-events [dataComment]="dataComments" [ascending]="ascending" [disabled]="disabled" (orderChanged)="orderChanged()" (sendComment)="saveComment($event)"></app-events>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<app-plus-button *ngIf="!disabled" [data]="actionData"></app-plus-button>
