.alert-message{
  color: #D8000C;
  background-color: #FFD2D2;
  border-radius: 5px;
  margin: 10px 0px;
  padding:12px;
  font-size:12px;
  vertical-align:middle;
  font-family: Lato, "Roboto", "Helvetica Neue", sans-serif;
}
